@inherits LayoutComponentBase

<PageTitle>NumberTranslator</PageTitle>

<div class="page">
    <main>
         <div class="nav-bar">
            <div class="nav-bar-content">
                <a class="title-a" href="/">
                    <h1 class="text-white">NumberTranslator</h1>
                </a>
            </div>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
